.desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.val, .img, .jerem {
    padding: 20px;
    text-align: center;
}

.val {
    background-color: yellow;
}

.img {
    background-color: green;
}

.jerem {
    background-color: blue;
}

/* CSS pour les Table à faire */