.desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.val, .img, .jerem {
    padding: 20px;
    text-align: center;
}

.val {
    width:35%;
}

.img {
}

.jerem {
    width:45%;
}

/* CSS pour les Table à faire */

th, td {
    border: 1px solid gray;
    padding: 12px;
    text-align: center;
}
