.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    background: #bfdbf7;
    padding: 10px 20px;
    box-sizing: border-box;
}

.left {
    align-items: center;
    gap: 15px;
    flex: 1;
    min-width: 300px;
}

.right {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;

    background-color: rgb(59, 59, 124);
    padding: 6px;
    border-radius: 20px;
}

.links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    background-color: rgb(105, 105, 221);
    padding: 14px;
    border-radius: 14px;
}

.left img {
    width: 120px;
    height: auto;
    display: block;
}

.left h1 {
    margin: 0;
    font-size: 24px;
    color: black;
}

.navlink {
    text-decoration: none;
    font-size: 16px;
    color: #E1E5F2;
    background-color: #03394C;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
}

.navlink:hover {
    background-color: #013041;
}

.button-link {
    text-decoration: none;
    font-size: 32px;
    color: black;
    background: white;
    border: 2px solid #023f55;
    border-radius: 8px;
    padding: 6px 14px;
    margin-right: 6px;
    white-space: nowrap;
}

.button-link:hover {
    background-color: #d9d9d9;
}