.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    background: #0A316C;
    padding: 10px 20px;
    box-sizing: border-box;
}

.left {
    align-items: center;
    gap: 15px;
    flex: 1;
    min-width: 300px;
}

.right {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;

    background-color: #0d3d86;
    padding: 6px;
    border-radius: 20px;
}

.navbar .links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    background-color: rgba(129, 236, 236, 0.22);
    padding: 14px;
    border-radius: 14px;
}

.left img {
    width: 144px;
    height: auto;
    display: block;
}

.left h1 {
    margin: 0;
    font-size: 24px;
    color: #FFFFFF;
}

.navlink {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0A316C;
    border: 1px solid #81ECEC;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
}

.navlink:hover {
    background-color: #0d3d86;
}

.button-link {
    text-decoration: none;
    font-size: 32px;
    color: #0A316C;
    background: #FDCB6E;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 6px 14px;
    margin-right: 6px;
    white-space: nowrap;
}

.button-link:hover {
    background-color: #ffe0a6;
}
